/** crazy main for crazy today */

/*
 * Set colors and size.
 */


.main-c {
    margin: 0 auto;
    max-width: 800px;
}

.article-c {
    overflow: auto;
    background: rgb(173, 10, 10);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
}

.article-c h1 {
    font-size: 2em;
    border-bottom: 4px double #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.article-c .author {
    margin-top: -1em;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}


/* minimum height
*/

.main,
.main .article-c {
    min-height: 20em;
}

.aside-c {
    background-color: rgb(173, 10, 10);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 24px;
}

.aside-c p {
    font-size: 18px;
    font-family: Jazz LET, fantasy;
}


.aside-c h1 {
    font-size: 1.5em;
    border-bottom: 4px double #ccc;
    font-family: Jazz LET, fantasy;
}

.crazy8 {
    font-family: Jazz LET, fantasy;
}

.article-c p {
    font-size: 18px;
    font-family: Jazz LET, fantasy;
    color: blueviolet;
}

/* jag fick inte detta att funka massa errors som body redan inladdat kan inte vara ett child av style försökte lite olika grejer men förstår inte
hur jag kan göra det

body.today {
    background-color: rgb(0, 0, 0);
}
*/