
/** navbar.css */

/*
background: linear-gradient(to bottom, #666, #000);
    color: #FFF;asdasdasdsda font-size: 1.2em;
 * Add colors and borders.
 */
 .navbar {
    background: linear-gradient(to top, rgb(226, 160, 160), rgba(253, 53, 53, 0.637));
    color: #FFF;
    line-height: 60px;
    border-top: 4px solid #000000;
    border-bottom:4px solid black;
    text-align: center;
    font-size: 1.2em;
}

/*
 * Style links.
 */
.navbar a {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover {
    color: #EEE;
    background-color: #20b1c4;
}

/*
 * Remove bullets, margins and padding from the list.
 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
 * Put the li items on a line.
 */
.navbar li {
    display: inline;
}