:root {
    --medium-color: rgb(255, 251, 0);
    --dark-color: rgb(22, 0, 150);
}


 .header {
    background: linear-gradient(to right, rgb(160, 226, 185), rgba(250, 253, 53, 0.637));
    border-bottom: 4px solid #00027c;
    border-top: 4px solid #00027c;
    position: relative;
    min-height: 158px;
}


.header .logo {
    width: 150px;
    position: absolute;

}


.header .title {
    color: var(--dark-color);
    font-size: 50px;
    text-shadow: 2px 2px 2px var(--medium-color);
    position: absolute;
    left: 160px;
}
.title p::first-letter {
    font-size: 70px;
    color: rgb(25, 150, 233);
    text-shadow: 2px 2px 2px #d9ff00;
}
