table {
    border: 2px solid;
    background-color: rgb(255, 215, 162);
    font-style: italic;
    color: rgb(32, 32, 32);
    font-size: 18px;
    table-layout: fixed ;
    width: 100% ;
    
    
}
table img {
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
    
}


 tr {
    width: 33%;
    height: 50%;
}
tr.month {
    background-color: rgba(189, 178, 164, 0.637);
    line-height: 200%;
    border: 2px solid;
    width: 25% ;
}
td {
    height: 25%;
}

td.month {
    background-color: brown;
    border: 2px solid;
    width: 25% ;
}

td.standard {
    border: 2px solid;
    width: 25% ;
    height: 25% ;
}
td.faded {
    opacity: 75%;
    border: 2px solid;
    width: 25% ;
    height: 25% ;

}

td.red {
    color: rgb(184, 17, 45);
    border: 2px solid;
    width: 25% ;
}
td.left {
    text-align: center;
    border: 2px solid;
    width: 25% ;
}

td.redleft {
    text-align: center;
    color: rgb(184, 17, 45);
    border: 2px solid;
    width: 25% ;
}
tr:nth-child(odd) {
    background-color: rgb(247, 176, 90);
    width: 25% ;
}

tr.red {
    color: rgb(184, 17, 45);
    border: 2px solid;
    width: 25% ;
}

